%div.home_page
  = link_to 'Sign Up', sign_up_path, class: 'anchor'
  %h1 Artist Library
  %div.home This is a site to store pictures that you like from and online source without downloading the image
%div.home_page
  %h2 Features:
  %li Take pictures from an online source and post them
  %li Click on your username to return to your profile
  %li View recently posted images
  %li Search for tags

%div.home_page
  %h2 Usage
  %li Copy the images url
  %li Paste it into the 'Add Picture' form
  %li BAM! All done!
