#main{
  background-color: #ccc;
  font-family: arial;
  margin: 0;
}

#header{
  margin: 0;
  padding: 0 0 2px 0;
  background-color: #0b3061;
}

#header h1{
  margin: 0 0 0 3px;
}

.search{
  margin: 0 0 10px 7px;
}

.search_button{
  width: 78px;
  height: 27px;
  border-radius: 6px;
  font-weight: bold;
  background-color: #fa2;
}

table{
  width: 1200px;
}

td{
  float: left;
}

h1{
  margin: 8px 0 8px 3px;
}

textarea{
  width: 250px;
  height: 50px;
}

input{
  width: 250px;
  height: 22px;
  font-size: 17px;
  border-radius: 3px;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

.left_ul{
  float: left;
}

.right_ul{
  float: right;
}

.show_div{
  width: 70%;
}

.show_div img{
  width: 50%;
  height: 50%;
}

.show_div #category{
  font-size: 20px;
}

.categories{
  margin: 0 0 0 6px;
}

.field_holder .enter{
  width: 120px;
}

.image_div{
  float: left;
}

.categories_link{
  margin: 0 0 0 5px;
}

.image_div p{
  font-size: 25px;
  margin: 7px 4px 4px 4px;
}

.image_div td{
  width: 200px;
  height: 250px;
  margin: 0px 4px;
}

.image_div img{
  width: 175px;
  height: 175px;
}

.layout_ul{
  margin: 3px 6px;
}

.image_tag{
  margin: 0 0 4px 0;
}

.header_links{
  margin: 0 4px;
}

.text_for_new_image{
  font-size: 26px;
  margin: 4px 0 8px 0;
}

#add{
  color: #0cc431;
  font-size: 19px;
}

#add:hover{
  font-weight: bold;
}

#title{
  color: #000;
  font-size: 33px;
  text-decoration: none;
  margin: 3px 0 8px 3px;
}

#title a:hover{
  font-size: 34px;
}

#username_link{
  font-size: 24px;
  color: #2dafd6;
}

#sign_out{
  color: #145bde;
  font-size: 19px;
}

#sign_out:hover{
  font-weight: bold;
}

#delete{
  color: #cc081f;
  font-size: 12px;
}

#delete:hover{
  font-weight: bold;
}

#full_size{
  font-size: 14px;
  margin: 0;
}

#full_size:hover{
  font-weight: bold;
}

#tags{
  margin: 4px 0;
  font-size: 14px;
}

#new_picture{
  float: left;
  margin: 0 0 0 15px;
}

.enter{
  width: 90px;
  height: 25px;
  font-size: 18px;
  margin: 4px 0;
}


.text{
  font-size: 20px;
  margin: 6px 0;
}

.home{
  float: left;
}

.pagination{
  color: #000;
}

.pagination a{
  color: #827ce8;
}

.pagination a:hover{
  font-weight: bold;
}

.field_holder{
  float: right;
  width: 600px;
}

#new_category{
  float: left;
  margin: 10px 0 4px 8px;
}

#category_submit{
  width: 150px;
}
