#main{
  background-color: #ccc;
  font-family: arial;
}

a{
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 10px;
  color: #fff;
  float: right;
  background-color: #1b7fcc;
  border: 1px solid #1b7fcc;
  border-radius: 2px;
}

input{
  display: list-item;
  border-radius: 4px;
  font-size: 17px;
  margin: 3px 0;
  padding: 0 3px;
  width: 200px;
}

textarea{
  display: list-item;
  border-radius: 4px;
  font-size: 17px;
  margin: 3px 0;
  padding: 0 3px;
  height: 60px;
  width: 200px;
}

img{
  width: 200px;
  height: 200px;
}

p{
  margin: 0 0 5px 0;
  font-size: 12px;
}

.sign_up{
  float: left;
}

.sign_in{
  float: right;
}

.field_holder{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.image{
  float: left;
  width: 200px;
  height: 20%;
  margin: 3px;
  border: 1px solid #c5c5c5;
}

.add{
  float: left;
  background-color: #224bc7;
  font-size: 15px;
  border: none;
}

.username{
  width: 200px;
  border-radius: 2px;
  padding: 5px;
  margin: 40px;
  text-align: center;
  margin-right: 2px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 3px;
  border: 1px solid #c5c5c5;
  height: 100px;
}

.user_info{
  margin: 0;
}

.description{
  font-size: 15px;
  padding: 4px;
}

.enter{
  width: 100px;
}

.delete{
  background-color: #bf1128;
  padding: 3px;
  border: none;
}

.text{
  font-size: 17px;
  border: 1px solid #c5c5c5;
  width: 120px;
}

#add_picture{
  font-size: 24px;
}

#tag{
  text-decoration: underline;
}

#sign_out{
  background-color: #ccc;
  color: #000;
  font-size: 15px;
  border: none;
  padding: 0 4px;
  text-decoration: underline;
}

#new_picture{
}
