%div
  - @images.reverse_each do |image|
    - if image.present?
      %div.view_image
        = link_to image_tag image.url, class: 'image_url'
        %ul.description
          = image.description
          %p
            Tags:
            %span#tag
              = image.tag
          = link_to 'Delete Image', image_path(image), method: :delete, class: 'anchor', id: 'delete'
